.container {
    width: 800px;
    height: 600px;
    background-color: #ffff;
    margin: 10px auto;
    border: 1px solid red;
    position: relative;
}

.img7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img7 {
    z-index: 0;
}

.img8 {
    z-index: 1;
}

.img9 {
    z-index: 2;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    z-index: 3;
}

.img9 {
    position: absolute;
    top: 39%;
    left: 57%;
    transform: translate(-50%, -50%);
}

.img8 {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img2 {
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.img5 {
    position: absolute;
    top: 31%;
    left: 35%;
    transform: translate(-50%, -50%);

}

.img1 {
    position: absolute;
    top: 32%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.img3 {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.img4 {
    position: absolute;
    top: 57%;
    left: 93%;
    transform: translate(-50%, -50%);
}

.img6 {
    position: absolute;
    top: 25%;
    left: 82%;
    transform: translate(-50%, -50%);
}